* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    position: relative;
    background-color: #4671D5;
    cursor: default;
}

a {
    text-decoration: none;
    color: #fff;
}

.container {
    max-width: 1140px;
    margin: 0 auto;    
}

.menu__btn {
    display: block;
    padding: 20px 15px;
    &:hover {
        background-color: #3c5285;
    }
    &:active {
        background-color: #374f85;
    }
}

.header__wrapper {
    background-color: #2A4480;

    .active__btn {
        background-color: #06266F;

        &:hover {
            background-color: #153070;
        }
        &:active {
            background-color: #0f2d74;
        }
    }
    .header {
        background-color: #2A4480;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        align-items: center;
        
        .logo {
            font-weight: 700;
            font-size: 32px;
            // padding-left: 15px;
            margin: 0 15px;
            user-select: none;
        }
        .navbar {
            display: flex;
            justify-self: center;
        }
        .login__wrapper {
            justify-self: end;
            margin: 0 15px;

            .login__btn {
                background-color: #2A4480;
                display: block;
                border: none;
                color: #fff;
                font-family: 'Roboto', sans-serif;
                font-size: 16px;
                // font-weight: 700;
                cursor: pointer;
                // padding: 20px 15px;
                &:hover {
                    background-color: #3c5285;
                }
                &:active {
                    background-color: #374f85;
                }
            }
        }
    }   
}

.content__wrapper {
    .container__s {
        max-width: 400px;
        margin: 0 auto;  
    }
    .box__wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #06266F;
        color: #fff;
        margin: 100px 0;
        padding: 25px;

        #box {
            width: 100%;
            
            h1 {
                margin-top: 0;
                margin-bottom: 30px;
                text-align: center;
            }
            p {
                margin: 0;
            }
            .raw {
                display: grid;
                grid-template-columns: 5fr 5fr 1fr 2fr;      
                align-items: center; 
                font-size: 17px;

                .amount {
                    justify-self: end;
                    letter-spacing: .5px;
                }
                .currency {
                    justify-self: start;
                    margin-left: 3px;
                    font-size: 14px;
                }
                #edit__value {
                    width: 25px;
                    height: 25px;
                    background-image: url(../img/edit.png);
                    background-size: 25px 25px;
                    justify-self: end;
                    filter: invert(1);
                }
                &:not(:last-child) {
                    // margin-bottom: 20px;
                    border-bottom: 1px solid #6C8CD5;
                    padding-bottom: 10px;
                }
                &:not(:first-child) {
                    padding-top: 10px;
                }
            }
        }
    }
}

.footer__wrapper {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;

    &::before {
        content: "";
        display: inline-block;
        // margin: 0 auto;
        width: 100%;
        height: 1px;
        background-color: #2A4480;
    }

    .footer {
        text-align: center;
        margin: 20px 0;

        p {
            margin: 0;
            font-size: 13px;
            &:first-child {
                margin-bottom: 5px;
            }
        }
        
    }
}

//////////////index//////////////////
.error-msg, .succes-msg {
    position: absolute;
    top: 0;
    width: 100%;
    text-align: center;
    padding: 10px 0;
    animation: msg-anim 3s linear forwards;
    .msg {
        font-size: 17px;
        color: #fff;
    }
}

.error-msg {
    background-color: #dc3545;
}
.succes-msg {
    background-color: #28a745;
}

.index-container {
    height: 100vh;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.auth {
    background-color: #fff;
    width: 400px;
    margin: 15px;
    box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.3);

    &-title {
        padding: 20px 0;
        border-bottom: 1px solid #adadad;

        h1 {
            font-size: 24px;
            color: #06266F;
            text-align: center;
            margin: 0;
        }
    }
    .auth__register-form {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 25px 15px;

        input {
            box-sizing: border-box;
            outline: none;
            border: 1px solid #adadad;
            color: #adadad;
            width: 300px;
            height: 50px;
            padding: 0 15px;
            font-size: 18px;
            
            &:not(:last-child) {
                margin-bottom: 20px;
            }
        }
        label {
            position: relative;
            width: 50px;
            height: 50px;
            background-color: #06266F;
            cursor: pointer;

            img {
                position: absolute;
                top: 50%;
                right: 50%;
                transform: translate(50%, -50%);
                width: 20px;
                height: 20px;
                filter: invert(1);
            }
        } 
    }
    &-btns {
        display: flex;
        box-sizing: border-box;
        width: 100%;
        background-color: #06266F;
    }
    &__register-login {
        width: 30%;
    }
    &__register-btn, &__login-btn {
        display: block;
        font-size: 18px;
        padding: 15px 0;
        text-align: center;
        color: #fff;
        border: none;
        background-color: #06266F;
        cursor: pointer;
        &:hover {
            background-color: #3c5285;
        }
    }
    &__register-btn {
        width: 70%;
    }
    &__login-btn {
        // width: 30%;
        width: 100%;
        border-left: 1px solid #fff;
    }

}


@keyframes msg-anim {
    0% {
        transform: translateY(-50px);
        opacity: 1;
    }
    30% {
        transform: translateY(0);
        opacity: 1;
    }
    95% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

