* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  position: relative;
  background-color: #4671D5;
  cursor: default;
}

a {
  text-decoration: none;
  color: #fff;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.menu__btn {
  display: block;
  padding: 20px 15px;
  color: #06266F;
  font-size: 17px;
  font-weight: 700;
}

.menu__btn:hover {
  color: #4671D5;
}

.header__wrapper {
  background-color: #fff;
}

.header__wrapper .active__btn {
  background-color: #4671D5;
  color: #fff;
}

.header__wrapper .header {
  background-color: #fff;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
}

.header__wrapper .header .logo {
  color: #06266F;
  font-weight: 700;
  font-size: 32px;
  margin: 0 15px;
  user-select: none;
}

.header__wrapper .header .navbar {
  display: flex;
  justify-self: center;
}

.header__wrapper .header .login__wrapper {
  justify-self: end;
  margin: 0 15px;
  position: relative;
}

.header__wrapper .header .login__wrapper .login__wrapper-dropdown {
  position: absolute;
  bottom: -100%;
  left: 0;
  background-color: #fff;
  width: 100%;
  box-shadow: 0 9px 9px 0 rgba(0, 0, 0, 0.3);
  display: none;
}

.header__wrapper .header .login__wrapper .login__wrapper-dropdown form {
  display: flex;
  justify-content: center;
}

.header__wrapper .header .login__wrapper .login__wrapper-dropdown a {
  text-align: center;
  color: #06266F;
  display: block;
}

.header__wrapper .header .login__wrapper .login__btn {
  background-color: #fff;
  color: #06266F;
  display: block;
  border: none;
  font-family: 'Roboto', sans-serif;
  cursor: pointer;
}

.header__wrapper .header .login__wrapper .login__btn:hover {
  color: #4671D5;
}

.content__wrapper .container__s {
  max-width: 400px;
  margin: 0 auto;
}

.content__wrapper .box__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  color: #06266F;
  box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.3);
  margin: 100px 0;
  padding: 25px;
}

.content__wrapper .box__wrapper #box {
  width: 100%;
}

.content__wrapper .box__wrapper #box h1 {
  margin-top: 0;
  margin-bottom: 30px;
  text-align: center;
}

.content__wrapper .box__wrapper #box p {
  margin: 0;
}

.content__wrapper .box__wrapper #box .raw {
  display: grid;
  grid-template-columns: 5fr 5fr 1fr 2fr;
  align-items: center;
  font-size: 17px;
}

.content__wrapper .box__wrapper #box .raw .amount {
  justify-self: end;
  letter-spacing: .5px;
}

.content__wrapper .box__wrapper #box .raw .currency {
  justify-self: start;
  margin-left: 3px;
  font-size: 14px;
}

.content__wrapper .box__wrapper #box .raw #edit__value {
  width: 25px;
  height: 25px;
  background-image: url(../img/edit.png);
  background-size: 25px 25px;
  justify-self: end;
}

.content__wrapper .box__wrapper #box .raw:not(:last-child) {
  border-bottom: 1px solid #06266F;
  padding-bottom: 10px;
}

.content__wrapper .box__wrapper #box .raw:not(:first-child) {
  padding-top: 10px;
}

.footer__wrapper {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

.footer__wrapper::before {
  content: "";
  display: inline-block;
  width: 100%;
  height: 1px;
  background-color: #2A4480;
}

.footer__wrapper .footer {
  text-align: center;
  margin: 20px 0;
}

.footer__wrapper .footer p {
  margin: 0;
  font-size: 13px;
}

.footer__wrapper .footer p:first-child {
  margin-bottom: 5px;
}

.error-msg, .succes-msg {
  position: absolute;
  top: 0;
  width: 100%;
  text-align: center;
  padding: 10px 0;
  animation: msg-anim 3s ease forwards;
}

.error-msg .msg, .succes-msg .msg {
  font-size: 17px;
  color: #fff;
}

.error-msg {
  background-color: #dc3545;
}

.succes-msg {
  background-color: #28a745;
}

.index-container {
  height: 100vh;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth {
  background-color: #fff;
  width: 400px;
  margin: 15px;
  box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.3);
}

.auth-title {
  padding: 20px 0;
  border-bottom: 1px solid #adadad;
}

.auth-title h1 {
  font-size: 24px;
  color: #06266F;
  text-align: center;
  margin: 0;
}

.auth .auth__register-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 25px 15px;
}

.auth .auth__register-form input {
  box-sizing: border-box;
  outline: none;
  border: 1px solid #adadad;
  color: #06266F;
  width: 300px;
  height: 50px;
  padding: 0 15px;
  font-size: 18px;
}

.auth .auth__register-form input:not(:last-child) {
  margin-bottom: 20px;
}

.auth .auth__register-form label {
  position: relative;
  width: 50px;
  height: 50px;
  background-color: #06266F;
  cursor: pointer;
}

.auth .auth__register-form label img {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  width: 20px;
  height: 20px;
  filter: invert(1);
}

.auth-btns {
  display: flex;
  box-sizing: border-box;
  width: 100%;
  background-color: #06266F;
}

.auth__register-login {
  width: 30%;
}

.auth__register-btn, .auth__login-btn {
  display: block;
  font-size: 18px;
  padding: 15px 0;
  text-align: center;
  color: #fff;
  border: none;
  background-color: #06266F;
  cursor: pointer;
}

.auth__register-btn:hover, .auth__login-btn:hover {
  background-color: #3c5285;
}

.auth__register-btn {
  width: 70%;
}

.auth__login-btn {
  width: 100%;
  border-left: 1px solid #fff;
}

@keyframes msg-anim {
  0% {
    transform: translateY(-50px);
  }
  30% {
    transform: translateY(0);
  }
  70% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-50px);
  }
}
/*# sourceMappingURL=style.css.map */